{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<section class="vw-100 vh-100 justify-content-center d-flex align-items-center" id="ResetPasswordDone" >
    <div class="text-center">
    <div class="d-flex justify-content-center">
        <img src="{% static 'images/Feito.svg' %}" alt="sucesso">
</div>
    <h1 class="text-light font-weigth-bold">Redefinição enviada <span class="yellow">!</span></h1>
    <h3 class="text-light">Boa, agora é só checar o e-mail que foi enviado para você redefinir a sua senha e aproveitar os estudos.</h3>
    <button class="outline-0 border-0 bg-none mt-3" id='button_password_done'>
        <a href="{% url 'login' %}" class="text-light text-decoration-none">Voltar ao login</a>
    </button>
</div>
</section>

{% endblock %}