{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}

<section class="vh-100 vw-100 d-flex">
    <!-- content main -->
    <section class='container space'>
        <!-- back button -->
        <button class='outline-0 border-0 bg-none mb-auto mr-5 mt-3' onclick="reset_password_route()" id="button-back">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/back-arrow.svg' %}" alt="voltar">
            </a>
        </button>

        <!-- content -->
        <section class='mb-0' id="form-container">

            <!-- title -->
            <div>
                <h1 class='text_color_primary'>Mudar senha</h1>
            </div>

            <!-- Form  -->
            {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center padding_0-7 rounded">
                    <div class="position-relative w-100 padding_0-7">
                        {{ form.as_p }}
                    </div>
                </div>

                <div class="text-center d-flex justify-content-between">
                    <button type="submit" class="outline-0 border-0 text-gray button_reset_password transition-1s"
                        onclick="reset_password_route()">
                        Mudar senha
                    </button>
                </div>
                
                
            </form>
            {% else %}
                <p class="text-gray">
                    O link de redefinição de senha era inválido, possivelmente porque já foi usado.
                    Solicite uma nova redefinição de senha.
                </p>

            {% endif %}
        </section>
    </section>

    <!-- Logo -->
    {% include 'components/logo.html' %}
</section>

{% block script %}

<script>
    function FocusInput(num) {
        const InsputAll = document.querySelectorAll("input")
        InsputAll[num].focus()
    }
</script>
{% endblock script %}


{% endblock %}