{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
{% endblock %}

{% block content %}

<section class="container">

    <div>
    
        {% include 'components/alertas.html' %}
    
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                        <label for="email"><b>Email ou CPF:</b></label>
                        <input type="text" id="email" class="form-control text-body" name="email" placeholder="Entre com o email ou o CPF cadastrado">
            </div>
            <div class="form-group">
                <label for="password"><b>Senha:</b></label>
                <input id="senha" type="password" class="form-control text-body" name="password" placeholder="Digite aqui sua senha">
            </div>
            <div class=" form-group text-center">
                <button class="btn btn-success" type="submit">Acessar sua conta</button>
                <button type="button" class="btn btn-primary" onclick="reset_password_route()">Esqueci a senha</button>
            </div>
        </form> 

        <div>
            <p>Ou prossiga com estas redes sociais</p>
        </div>

        <div>
            <a href="">Google</a>
            <a href="">Github</a>
            <a href="">Facebook</a>
        </div>

        <div>
            <a href="{% url 'cadastro' %}"></a>
        </div>
    </div>

</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block script %}

<script>
    function reset_password_route(){
        location.href = "{% url 'reset_password' %}";
    }
</script>

{% endblock %}