{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

<section class='d-flex justify-content-center vw-100 vh-100'>
    <section class="container" id="login">
        <!-- <button class='outline-0 border-0 bg-none' onclick="reset_password_route()">
            <img src="../../static/images/back-arrow.svg" alt="">
        </button> -->

        <div>
            <h1 class='text_color_primary'>Login</h1>
            <h2 class='h2-color'>Preencha os campos abaixo para entrar.</h2>
        </div>

        {% include 'components/alertas.html' %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="form-group d-flex justify-content-center border-color-gray padding_0-7 first-input">
                <img src="../../static/images/email.svg" alt="">

                <div class="position-relative w-100 padding_0-7">
                    <input required  type="text" id="email" class="input-text-color w-100" name="email">
                    <label class='input-text-color'>Entre com email ou CPF</label>
                </div>
            </div>

            <div class="form-group d-flex justify-content-center border-color-gray padding_0-7 last-input">
                <img src="../../static/images/smart-key.svg" alt="">
                <div class="position-relative w-100 padding_0-7">
                    <input required  type="text" id="email" class="input-text-color w-100" name="email">
                    <label class='input-text-color'>Digite aqui sua senha</label>
                </div>
            </div>

            <div class="text-center d-flex justify-content-between" id='buttons_container'>
                <button class="" type="submit">Entrar</button>
                <button type="button" class="" onclick="reset_password_route()">
                    Esqueci a senha
                </button>
            </div>
        </form>
        
        <div class="text-center h2-color">
            <h2>Ou prossiga com estas redes sociais</h2>
        </div>

        <div class="text-center d-flex justify-content-between my-4">
            <a href="">
                <button class='border-0'>
                    <img src="../../static/images/google.svg" alt="google">
                </button>
            </a>

            <a href="">
                <button class='border-0'>
                    <img src="../../static/images/facebok.svg" alt="facebok">
                </button>
            </a>

            <a href="">
                <button class='border-0'>
                    <img src="../../static/images/github.svg" alt="GitHub">
                </button>
            </a>
        </div>

        <div class="text-center h2-color">
            <h4>Ainda não possui conta? <a href="{% url 'cadastro' %}" class='text_color_primary'>Cadastre-se</a>
            </h4>
        </div>

    </section>

    {% include 'components/logo.html' %}
</section>

{% endblock %}
{% block script %}

<script>
    function reset_password_route() {
        location.href = "{% url 'reset_password' %}";
    }
</script>

{% endblock %}