{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}

<section>
    <a href="{% url 'login' %}">Voltar</a>

    <div>
        <h1>Esqueceu sua senha?</h1>
        <h3>Relaxe, vamos dar um jeito nisso!</h3>
    </div>
    <div>
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="" required>
            </div>

            <div>
                <button type="submit"> Recuperar senha </button>
            </div>
        </form>
    </div>
</section>

{% endblock %}