{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Blog{% endblock %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section id="Blog" class="container">
    <div id="populares" class="py-2">
        <h1>Postagens mais populares</h1>

        <div id="carousel" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                {% for post in populares %}
                    {% if forloop.counter == 1 %}
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to='{{ forloop.counter|add:"-1" }}' class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to='{{ forloop.counter|add:"-1" }}' aria-label="Slide {{ forloop.counter }}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class="carousel-inner">
                {% for post in populares %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            {% if post.image %}
                                <img src="{{post.image.url}}" class="d-block w-100" alt="{{post.title}}">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{post.title}}</h5>
                                <p>{{post.abstract}}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            {% if post.image %}
                                <img src="{{post.image.url}}" class="d-block w-100" alt="{{post.title}}">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{post.title}}</h5>
                                <p>{{post.abstract}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
                <img src="{% static 'images/left arrow.svg' %}" class="carousel-control-prev-icon" aria-hidden="true" alt="left"></img>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
                <img src="{% static 'images/right arrow.svg' %}" class="carousel-control-next-icon" aria-hidden="true"></img>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div id="todas" class="py-5">

        <div id="postagens">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <a href="{% url 'post' post.id %}" class="text-decoration-none">
                        <div class="card">
                            {% if post.image %}
                                <img src="{{post.image.url}}" class="card-img-top img-fluid" alt="{{post.title}}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-body text-decoration-none">{{post.title}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    <!-- ##### Pagination ##### -->
    <div class="container d-flex justify-content-center py-3">
        <div>
            {% if posts.has_other_pages %}
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for pagina in posts.paginator.page_range %}
                        {% if posts.number == pagina %}
                            <li class="page-item active">
                                <a class="page-link">{{ pagina }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{pagina}}" class="page-link">{{pagina}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %} 