{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Calendário{% endblock %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section id="CalendarContainer">
    <div>
        <div id="CalendarTitleContainer">
            <div class="bg-color-primary d-flex" id="CalendarTitle">
                <div>
                    <h1 class="text-justify text-white font-weight-bold">Bem vindo ao calendário, estudante!</h1>
                    <p class="text-justify text-white font-weight-bold">Aqui você encontrará todas as datas relevantes
                        em relação à olimpíadas, vestibulares e atividades do PODEMOS.</p>
                </div>
                <img src="{% static 'images/Calendar-img.svg' %}" alt="Calendario" class="sr-only">
            </div>
        </div>

        <div class="d-flex" id="CalendarItem">
            <div class="col-md-4">
                <div class="SelectContainer">
                    <label for="">Escolha</label>
                    <select name="type" id="type">
                        <option value="D">Todos</option>
                        <option value="A">Olimpíadas</option>
                        <option value="B">Eventos</option>
                        <option value="C">Feira de ciências</option>
                    </select>
                </div>
                <div class="SelectContainer">
                    <label for="">Tipo de informação</label>
                    <select name="information" id="information">
                        <option value="">Todos</option>
                        <option value="">Data de inscrição</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="SelectContainer">
                    <label for="">Tipo de evento</label>
                    <select name="region" id="region">
                        <option value="D">Todos</option>
                        <option value="A">Nacional</option>
                        <option value="B">Internacional</option>
                    </select>
                </div>
            </div>

            <div class="col-md-8">
                <div id="calendar">

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {

        let data = new Date;

        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            initialDate: data,
            navLinks: true, // can click day/week names to navigate views
            nowIndicator: true,

            weekNumbers: true,
            weekNumberCalculation: 'ISO',

            locale: 'pt-br',
            editable: true,
            selectable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [],
        });

        $.ajax({
            url: "{% url 'calendario' %}",
            method: "GET",
            data: {
                "type": "D",
                "region": "C",
            },
            dataType: 'json',
            success: data => {
                calendar.removeAllEvents();
                data.forEach(element => {
                    let obj = {
                        title: element["fields"]["title"],
                        url: '/evento/' + element["pk"],
                        start: element["fields"]["starts_at"].slice(0, -1),
                        end: element["fields"]["ends_in"].slice(0, -1)
                    };
                    calendar.addEvent(obj);
                });
            },
            error: data => console.error(data)

        })

        $("select[name='type']").change(() => {
            $.ajax({
                url: "{% url 'calendario' %}",
                method: "GET",
                data: {
                    "type": $(this).val(),
                    "region": $("select[name='region']").val(),
                },
                dataType: 'json',
                success: data => {
                    calendar.removeAllEvents();
                    data.forEach(element => {
                        let obj = {
                            title: element["fields"]["title"],
                            url: '/evento/' + element["pk"],
                            start: element["fields"]["starts_at"].slice(0, -1),
                            end: element["fields"]["ends_in"].slice(0, -1)
                        };
                        calendar.addEvent(obj);
                    });
                },
                error: data => console.error(data)
            })
        });

        $("select[name='information']").change(() => {
            $.ajax({
                url: "{% url 'calendario' %}",
                method: "GET",
                data: {
                    "type": $(this).val(),
                    "region": $("select[name='region']").val(),
                },
                dataType: 'json',
                success: data => {
                    calendar.removeAllEvents();
                    data.forEach(element => {
                        let obj = {
                            title: element["fields"]["title"],
                            url: '/evento/' + element["pk"],
                            start: element["fields"]["starts_at"].slice(0, -1),
                            end: element["fields"]["ends_in"].slice(0, -1)
                        };
                        calendar.addEvent(obj);
                    });
                },
                error: data => console.error(data)

            })
        });

        $("select[name='region']").change(() => {
            $.ajax({
                url: "{% url 'calendario' %}",
                method: "GET",
                data: {
                    "type": $("select[name='type']").val(),
                    "region": $(this).val(),
                },
                dataType: 'json',
                success: data => {
                    calendar.removeAllEvents();
                    data.forEach(element => {
                        let obj = {
                            title: element["fields"]["title"],
                            url: '/evento/' + element["pk"],
                            start: element["fields"]["starts_at"].slice(0, -1),
                            end: element["fields"]["ends_in"].slice(0, -1)
                        };
                        calendar.addEvent(obj);
                    });
                },
                error: data => console.error(data)

            })
        });

        calendar.render();
    });
</script>
{% endblock %}