{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Desafio {{challenge.id}}{% endblock %}
<!--
{% block menu %}
    {% include 'components/menu.html' %}
    {% include 'components/Search.html' %}
{% endblock %}
-->

{% block content %}

<section class="container">
    <div>
        <h1>{{ challenge.nome }}</h1>
        <p>{{ challenge.descricao }}</p>
        <div>
            {% if challenge.prova %}
                <td><a href="{{challenge.prova.url}}&response-content-disposition=attachment&forcedownload=1" class="text-body">Enunciado</a></td>
            {% else %}
                <td><a href="#" class="text-body">Enunciado</a></td>
            {% endif %}
            {% if challenge.gabarito %}
                <td><a href="{{challenge.gabarito.url}}&response-content-disposition=attachment&forcedownload=1" class="text-body">Gabarito</a></td>
            {% else %}
                <td><a href="#" class="text-body">Gabarito</a></td>
            {% endif %}
            {% if challenge.resultado %}
                <td><a href="{{challenge.resultado.url}}&response-content-disposition=attachment&forcedownload=1" class="text-body">Resultado</a></td>
            {% else %}
                <td><a href="#" class="text-body">Resultado</a></td>
            {% endif %}
        </div>
        <p>Inicia em: {{challenge.data_de_inicio}}</p>
        <p>Termina em: {{challenge.data_de_termino}}</p>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
