{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Imagem{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
    {% include 'components/Search.html' %}
{% endblock %}


{% block content %}

<section class="container">
    <div>
        <img src="{{imagem.image.url}}" alt="{{imagem.image.name}}">

        <h2>Nome: {{imagem.name}}</h2>
        <a href="{{imagem.image.url}}">{{imagem.image.url}}</a>
        <p>Path: {{imagem.image}}</p>
        <p>Enviada por: {{imagem.uploader.get_full_name}}</p>
        <p>Enviada em: {{imagem.upload_in}}</p>
        <p>{{imagem.image.name}}</p>
        <a href="{{imagem.image.url}}&response-content-disposition=attachment&forcedownload=1">Download</Datag></a>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
