{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
{% endblock %}

{% block content %}

<section class="container" id="inicio">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            {% for noticia in noticias %}
                {% if forloop.counter == 1 %}
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to='{{ forloop.counter|add:"-1" }}' class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                {% else %}
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to='{{ forloop.counter|add:"-1" }}' aria-label="Slide {{ forloop.counter }}"></button>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="carousel-inner">
            {% for noticia in noticias %}
                {% if forloop.counter == 1 %}
                    <!--<a href="{% url 'noticia' noticia.id %">-->
                        <div class="carousel-item active">
                            <img src="{{noticia.image.url}}" class="d-block w-100" alt="{{noticia.title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{noticia.title}}</h5>
                                <p>{{noticia.abstract}}</p>
                            </div>
                        </div>
                    <!--</a>-->
                {% else %}
                    <!--<a href="{% url 'noticia' noticia.id %">-->
                        <div class="carousel-item">
                            <img src="{{noticia.image.url}}" class="d-block w-100" alt="{{noticia.title}}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{noticia.title}}</h5>
                                <p>{{noticia.abstract}}</p>
                            </div>
                        </div>
                    <!--</a>-->
                {% endif %}
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="container" id="olimpiadas">
    <h1>Olimpiadas</h1>

    <p class="text-justify">
        

As <strong>olimpíadas do conhecimento</strong> são capazes de trazer ao aluno uma experiência além-escola, de forma a construir um <strong>conhecimento mais aprofundado</strong> sobre assuntos que vão desde matemática até biologia. 
Nestas competições, há <strong>provas ou desafios</strong> a serem resolvidos em um determinado período de tempo e, ademais, os alunos que se destacam recebem <strong>medalhas e certificados</strong>. 


    </p>
</section>

<section class="container" id="artigos">
    <h1>Artigos</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <a href="{% url 'post' post.id %}" class="text-decoration-none">
                <div class="card">
                    <img src="{{post.image.url}}" class="card-img-top img-fluid" alt="{{post.title}}">
                    <div class="card-body">
                        <h5 class="card-title text-body text-decoration-none">{{post.title}}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="container" id="cursos">
    <h1>Cursos</h1>
    <div class="row mx-auto my-auto">
        <div id="carousel_cursos" class="carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-inner w-100" role="listbox">
                {% for tipo in tipos_de_cursos %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active col-md-4">
                            <div class="card card-body">
                                <img src="{{tipo.image.url}}" class="d-block w-100" alt="{{noticia.title}}">
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item col-md-4">
                            <div class="card card-body">
                                <img src="{{tipo.image.url}}" class="d-block w-100" alt="{{noticia.title}}">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_cursos"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_cursos"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="container" id="quem-somos">
    <h1>Quem somos</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'img/otavio.svg' %}" alt="Otavio Sales" class="img-fluid px-5">
        </div>
        <div class="col-md-8">
            <p class="text-justify px-5">
                O <strong>PODEMOS nasceu em 2018 como uma ONG 
                fundada por Otávio Sales</strong> no intuito de democratizar
                o acesso às <strong>olimpíadas científicas</strong>, principalmente
                as de matemática, disciplina esta que é a sua 
                maior paixão. Desde então, a sua iniciativa alcançou
                inúmeros resultados, e não apenas em competições
                de matemática.
            </p>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

