{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{olimpiada.nome}}{% endblock %}



{% block content %}

<section class="container py-2">
    <div>
        <div class="d-flex justify-content-center">
            <img src="{{olimpiada.imagem.url}}" alt="Logo Olimpimat" class="img-fluid">
        </div>
        <div class="text-center">
            <h1>{{olimpiada.nome}}</h1>
            <h2>Competição de Matemática para estudantes da Educação Básica</h2>
        </div>

        <div class="py-3" id="descricao"></div>
    </div>

    <div>
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Desafio</th>
                <th scope="col">Enunciado</th>
                <th scope="col">Gabarito</th>
                <th scope="col">Resultado</th>
            </thead>
            <tbody class="table-hover">
                {% for challenge in challenges %}
                    <th scope="row"><a href="{% url 'challenge' challenge.id %}" class="text-body">{{forloop.counter}}</a></th>
                    {% if challenge.url_prova %}
                        <td><a href="{{challenge.url_prova}}" class="text-body">Enunciado</a></td>
                    {% else %}
                        <td><a href="#" class="text-body">Enunciado</a></td>
                    {% endif %}
                    {% if challenge.gabarito %}
                        <td><a href="{{challenge.gabarito.url}}&response-content-disposition=attachment&forcedownload=1" class="text-body">Gabarito</a></td>
                    {% else %}
                        <td><a href="#" class="text-body">Gabarito</a></td>
                    {% endif %}
                    {% if challenge.resultado %}
                        <td><a href="{{challenge.resultado.url}}&response-content-disposition=attachment&forcedownload=1" class="text-body">Resultado</a></td>
                    {% else %}
                        <td><a href="#" class="text-body">Resultado</a></td>
                    {% endif %}
                {% endfor %}
            </tbody>

            <tfoot>
                <td><a href="{{olimpiada.regulamento.url}}" class="text-body">Regulamento</a></td>
                <td><a href="{{olimpiada.cronograma.url}}" class="text-body">Cronograma</a></td>
                <td colspan="2"><a href="{% url 'ranking' %}" class="text-body">Ranking atualizado</a></td>
            </tfoot>
        </table>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block script %}
    <script>
        var md = new Remarkable({
            html: false, // Enable HTML tags in source
            xhtmlOut: false, // Use '/' to close single tags (<br />)
            breaks: false, // Convert '\n' in paragraphs into <br>
            linkify: true, // Autoconvert URL-like text to links

            // Enable some language-neutral replacement + quotes beautification
            typographer: false,

            // Double + single quotes replacement pairs, when typographer enabled,
            // and smartquotes on. Set doubles to '«»' for Russian, '„“' for German.
            quotes: '""``'
        });

        document.getElementById('descricao').innerHTML = md.render("{{olimpiada.processed_descricao}}")
    </script>
{% endblock %}

{% block style %}

<style>
    a{
        color: black;
    }
</style>

{% endblock %}