{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Olimpiadas{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
    {% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section class="container">
    <a href="{% url 'olimpimat' %}">
        <div class="bg-color-primary d-flex CardTitle">
            <div class='p-0'>
                <h1 class="text-justify text-white font-weight-bold">Bem vindo as Olimpíadas, estudante!</h1>
                <img src="../../../static/images/OmlimpMat-fullName.svg" alt="Olimpiada de matematica" id="olimpimatFullName">
            </div>
            <img src="{% static 'img/otavio.svg' %}" alt="Otavio Sales" class='sr-only'>
        </div>
    </a>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
