{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Ranking{% endblock %}

{% block menu %}
{% include 'components/menu.html' %}
{% include 'components/Search.html' %}
{% endblock %}


{% block content %}

<section class="container" id='Ranking'>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class='text-center position'>Classificação</th>
                    <th scope="col" class='name'>Nome</th>
                    <th scope="col" class="points">Pontuação</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.points}}</td>
                        <th scope="row" class='text-center position'>{{user.classification}}</th>
                        <td class='name'>{{user.get_full_name}}</td>
                        <td class="points">{{user.points}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- ##### Pagination ##### -->
    <div class="container d-flex justify-content-center py-3">
        <div>
            {% if users.has_other_pages %}
                <ul class="pagination">
                    {% if users.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ users.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for pagina in users.paginator.page_range %}
                        {% if users.number == pagina %}
                            <li class="page-item active">
                                <a class="page-link">{{ pagina }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{pagina}}" class="page-link">{{pagina}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                        <li class="page-item">
                            <a href="?page={{ users.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}