{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Submeter imagem{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
    {% include 'components/Search.html' %}
{% endblock %}

{% block content %}

<section class="container">
    <div>
        <form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nome: </label>
                <input type="text" name="name" class="form-control text-body" id="name">
            </div>
            <div class="form-group">
                <label for="imagem">Imagem: </label>
                <input type="file" name="imagem" class="form-control text-body" id="imagem">
            </div>
            <div>
                <button class="btn btn-success" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
