@charset "UTF-8";
:root {
  --primary-color: #4E00FF;
  --secundary-color: #FFD600;
  --purple-light: #B2A6CD;
  --light-gray: #9C98A6;
  --gray: #89878E;
  --bg-color: #eeeeee;
  --white: #fff;
  --white-secundary: #F3F3F3;
  --black: #000;
}

/* Formatações geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100;
}

p {
  text-align: justify;
}

pre code {
  color: crimson;
  background-color: var(--white-secundary);
  padding: 2px;
  font-size: 105%;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
}

h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

button, a {
  border: 0;
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

/*==============>utils (pode ser usado muitas vezes)*/
.yellow {
  color: var(--secundary-color);
}

.bg-none {
  background: none;
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-secundary {
  background-color: var(--secundary-color);
}

.border-color-gray {
  border: 1px solid var(--light-gray);
}

.text_color_primary {
  color: var(--primary-color);
}

.purple-light {
  color: var(--purple-light);
}

.text-gray {
  color: var(--light-gray);
}

.padding_0-7 {
  padding: 0.7rem;
}

.first-input {
  border-radius: 1rem 1rem 0 0;
}

.last-input {
  border-radius: 0 0 1rem 1rem;
}

.transition-1s {
  transition: 0.2s;
}

/*==============>formatações especificas*/
.back {
  margin-bottom: 2rem;
}

.space {
  padding: 0 10%;
}

/*==============> 
isso aqui é um hack do css para quando tiver um auto complete
ele não mudar a cor de fundo do input 
*/
.auto_complete {
  -webkit-box-shadow: 0 0 0 30px #eeeeee inset;
  -webkit-text-fill-color: var(--light-gray);
}

/*==============>Formularios*/
form {
  margin: 2rem 0;
}

form input {
  background: none;
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 1.2rem;
}

input ~ label {
  position: absolute;
  top: 20%;
  left: 2%;
  transition: 0.4s;
}

input:focus ~ label, input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

/*==============>apenas login*/
#buttons_container {
  margin: 2rem 0;
}

#buttons_container button {
  width: 40%;
  height: 4.5rem;
  border: 0;
  outline: 0;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: #fff;
  border-radius: 1rem;
}

/*==============>Cadastro*/
.button-next {
  color: var(--primary-color);
  background-color: var(--purple-light);
  width: 100%;
  height: 4.5rem;
  font-size: 1.2rem;
  font-family: "Poppins";
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*==============>parte da "logo"*/
#page-logo {
  font: "Poppins";
  padding: 0 2.5rem;
  background: var(--primary-color) url("{% static 'images/bolinhas.svg' %}") no-repeat center;
  display: grid;
  gap: 1%;
}

#text_podemos {
  font-size: 5em;
  font-weight: bold;
  font-family: "Poppins";
}

#page-logo p {
  font-size: 1.6em;
  font-family: "Poppins";
}

/*==============>reset password*/
#form-container {
  margin-top: 25vh;
}

#form-container input {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: black;
}

.button_reset_password {
  background-color: #CDCDCD;
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.button_reset_password:hover {
  background: var(--primary-color);
  color: white;
}

/*==============>reset password done*/
#ResetPasswordDone {
  background: var(--primary-color) url("{% static 'images/Bolinhas-success.svg' %}") center;
}

#button_password_done {
  width: 20vw;
  height: 5rem;
  background: var(--secundary-color);
  border-radius: 0.5rem;
}

.footer-logo {
  width: 100%;
  height: 100%;
}

.footer-logo img {
  width: 7.5rem;
  height: 3rem;
}

/*==============> MENU */
.myTab a {
  color: var(--white);
}

.myTab a:hover {
  color: var(--white);
}

.myTab ul > li:first-child a {
  margin: 1.5rem 0 0 0;
}

a.active {
  background-color: var(--white);
  border-radius: 1rem 0 0 1rem;
  padding: 0 1rem;
}

a.active {
  color: var(--primary-color);
}

a.active:hover {
  color: var(--primary-color);
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-container nav {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Top {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1 1;
  width: 100%;
  background-color: var(--white);
  align-items: center;
}

#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

#mySidenav section:first-child {
  width: 8rem;
}

#mySidenav .closebtn {
  position: absolute;
  top: 0.3rem;
  left: 6.5rem;
  width: 1rem;
}

#myTab ul li {
  padding: 0 0 0 1rem;
}

.openNav {
  width: 8rem;
  height: 3.2rem;
  background-color: var(--white);
}

.openNav img {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

/*==============> Sub menu */
.sub-menu {
  left: 8rem;
  top: 1.5rem;
  height: calc(100vh - 3rem);
  background: white;
  color: black;
  padding-left: 1rem;
  width: calc(20rem - 8rem);
}

.sub-menu h3, .sub-menu a {
  color: var(--light-gray);
  margin-top: 2rem;
}

.sub-menu li:hover, .sub-menu a:hover {
  color: var(--primary-color);
  background-color: #CDDBFF;
}

.sub-menu ul a {
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
}

/*==============> BARRA DE PESQUISA */
#SearchContainer {
  background: var(--white);
  width: calc(100% - 8rem);
  padding: 0.3rem 0;
}

#Search {
  display: flex;
  background-color: var(--white-secundary);
  margin: 0.3rem 0rem 0.3rem 0;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

#Search img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

#Search input {
  border: 0;
  font-size: 1.2rem;
  background-color: var(--white-secundary);
}

#SearchContainer .search-button {
  margin-right: 3.7rem;
}

#SearchContainer .search-button button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.7rem;
  margin-left: 1.5rem;
}

#Search .SearchInput {
  display: flex;
  align-items: center;
}

#Search .isOpen {
  display: none;
}

/*==============>Calendar*/
#CalendarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.CardTitle {
  border-radius: 1rem;
  margin: 2.5rem auto;
  max-height: 200px;
  width: 100%;
  padding-left: 2.5rem;
}

.CardTitle div {
  padding: 1.3rem 0;
}

.CardTitle h1 {
  font-weight: bold;
}

#calendar {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--white);
}

.SelectContainer {
  margin-top: 2.5rem;
}

.SelectContainer label {
  color: var(--gray);
}

.SelectContainer select {
  color: var(--primary-color);
  border: none;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 1px var(--gray);
}

#CalendarItem a.fc-col-header-cell-cushion {
  color: var(--purple-light);
}

#CalendarItem a.fc-daygrid-day-number {
  color: var(--black);
}

#CalendarItem a.fc-daygrid-week-number {
  color: var(--light-gray);
}

/* constrolers do calendario */
.fc .fc-button-primary, .fc .fc-button-primary:hover, .fc .fc-button-primary:disabled {
  background-color: var(--secundary-color);
  border: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: var(--purple-light);
  opacity: 0.5;
  border-color: none;
}

/* Blog */
#carousel {
  background: #fff;
}

#carousel div.carousel-inner {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

#carousel div.carousel-item img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

#Blog h1 {
  color: var(--gray);
  margin-bottom: 2rem;
}

#Blog div.card {
  height: 95%;
  background: linear-gradient(var(--primary-color), rgba(124, 79, 228, 0.247));
  border: none;
  transition: 0.5s;
}

#Blog div.card:hover {
  transform: translateY(-10px);
}

/* Footer */
#Footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  margin-top: 1rem;
}

#Footer a {
  color: var(--white);
}

#Footer a:hover {
  color: var(--light-gray);
}

#Footer div.text-center img {
  width: 50px;
}

#Footer div.d-flex {
  flex-direction: column;
}

#Footer-Logo {
  width: 70%;
}

/* INDEX HOME */
/* utils home */
.rounded-home {
  border-radius: 1rem;
}

.BorderBottom {
  position: absolute;
  top: 5rem;
  left: 2%;
  opacity: 0.8;
  border-radius: 3rem;
  width: 20rem;
}

#olimpiadas h1:first-child, #artigos h1:first-child, #cursos h1:first-child, #QuemSomos h1:first-child {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: bold;
}

#olimpiadas, #cursos {
  position: relative;
  border-right: 0.5rem solid var(--secundary-color);
}

#olimpiadas .BorderBottom, #cursos .BorderBottom, #QuemSomos .BorderBottom {
  border-bottom: 1.5rem solid var(--secundary-color);
}

#artigos .BorderBottom {
  border-bottom: 1.5rem solid var(--primary-color);
}

.ArticleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.ArticleContainer a {
  color: var(--light-gray);
}

.ArticleContainer a:hover {
  color: var(--light-gray);
}

.ArticleContainer div.card, .ArticleContainer div.card-footer {
  border: none;
  background: none;
}

.ArticleContainer div.card {
  margin-top: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 3px 1px 0 var(--light-gray);
  height: 100%;
}

.ArticleContainer div.card img {
  border-radius: 1.5rem 1.5rem 0 0;
  max-height: 173px;
  width: 100%;
  object-fit: cover;
}

#carousel_cursos {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 2rem;
}

#carousel_cursos div.carousel-inner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}

#carousel_cursos div.carousel-item img {
  width: 100%;
  object-fit: contain;
}

.image-carousel {
  width: 100%;
  height: 400px;
}

#QuemSomos {
  border-bottom: 0.2rem;
  border-right: 0.5rem;
  border-top: 0;
  border-left: 0;
  border-color: var(--secundary-color);
  border-style: solid;
}

#QuemSomos img {
  width: 200px;
  height: 200px;
}

#QuemSomos p.text-justify {
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

#QuemSomos div.TextDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dashboard */
#Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2%;
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: calc(100vh - 12rem);
}

.Dashboard-item {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

#Dashboard .Mult-Frame {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
}

#Dashboard .Mult-Frame > div {
  width: 100%;
  border-radius: 2rem;
  padding: 0.4rem;
  height: 100%;
}

.Frame-1 {
  background: linear-gradient(60deg, #4E00FF -80.45%, #D7B239 235.54%, #FFE600 235.58%);
}

.Frame-2 {
  background: linear-gradient(60deg, #4E00FF -138.47%, #D7B239 154.07%, #FFE600 154.1%);
}

.Frame-3 {
  background: linear-gradient(60deg, #4E00FF -216.74%, #D7B239 99.97%, #FFE600 100%);
}

.Frame-4 {
  background: linear-gradient(60deg, #4E00FF -70.89%, #D7B239 321.85%, #FFE600 321.89%);
}

.Frame-5 {
  background: linear-gradient(60deg, #4E00FF -47.18%, #D7B239 341.2%, #FFE600 341.24%);
}

.Frame-6 {
  background: linear-gradient(60deg, #4E00FF -62.15%, #D7B239 113.05%, #FFE600 113.07%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.Frame-7 {
  background: linear-gradient(60deg, #4E00FF 0%, #D7B239 316.84%, #FFE600 316.87%);
}

.Frame-8 {
  background: linear-gradient(60deg, #4E00FF -67.86%, #D7B239 247.15%, #FFE600 247.18%);
}

.Frame-9 {
  background: linear-gradient(60deg, #4E00FF -133.24%, #D7B239 178.01%, #FFE600 178.04%);
}

.FontSizeGrande {
  font-size: 4rem;
}

.AlingCardDashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Ranking */
#Ranking {
  margin-top: 1rem;
}

#Ranking thead tr {
  background: var(--primary-color);
  color: var(--white);
}

#Ranking thead th {
  width: 10%;
}

#Ranking tbody {
  background: var(--white);
}

#Ranking .position {
  width: 15%;
}

#Ranking .name {
  width: 70%;
}

#Ranking .points {
  width: 15%;
}

/* OlimpiMat cursos*/
#olimpimatFullName {
  width: 60%;
}

/* olimpMat */
#olimpMat-item {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

#olimpMat thead tr {
  background: var(--primary-color);
  color: var(--white);
}

#olimpMat thead th {
  width: 10%;
}

#olimpMat tbody {
  background: var(--white);
}

#descricao {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#descricao p a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

#descricao p {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  width: 50%;
  height: 13vh;
  box-shadow: 0 3px 1px 0 var(--light-gray);
}

#descricao p:first-child {
  margin-right: 1.5rem;
}

#descricao p strong {
  text-align: center;
}

@media (max-width: 1000px) {
  /* Utils */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .space {
    padding: 0 6%;
  }

  /* menu */
  #mySidenav a {
    font-size: 18px;
  }

  /* calendario */
  #CalendarTitle {
    padding-left: 1rem;
  }

  #Footer div.text-center img {
    width: 10%;
  }

  /* home */
  .BorderBottom {
    top: 4.5rem;
  }

  #carousel_cursos {
    background-color: var(--primary-color);
    height: 200px;
    border-radius: 2rem;
  }

  #carousel_cursos div.carousel-inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
  }

  #carousel_cursos div.carousel-item img {
    width: 100%;
    object-fit: contain;
  }

  .image-carousel {
    width: 100%;
    height: 200px;
  }

  #QuemSomos div.TextDescription {
    flex-direction: column;
  }

  /* Dashborad */
  #Dashboard {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
  }

  .Dashboard-item {
    margin-top: 1rem;
    height: 100%;
    background: var(--primary-color);
  }

  #Dashboard .Mult-Frame {
    display: flex;
    margin-top: 1rem;
  }

  #Dashboard .Mult-Frame > div {
    background: var(--primary-color);
  }

  #Dashboard .Mult-Frame > h3 {
    font-size: 3rem;
    font-weight: bold;
  }
}
/* Mobile */
@media (max-width: 700px) {
  /* calendario */
  #CalendarItem {
    flex-direction: column;
  }

  #CalendarItem div.col-md-4 {
    margin-bottom: 2rem;
  }

  /* menu */
  .openNav {
    width: 3rem;
  }

  /* munu superior */
  #SearchContainer {
    width: calc(100% - 3rem);
  }

  #Search {
    max-width: 50%;
  }

  #Search .SearchInput input {
    width: 100%;
    font-size: 0.9rem;
  }

  #SearchContainer .search-button {
    margin-right: 0.5rem;
  }

  #SearchContainer .search-button button {
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    margin-left: 0;
  }

  /* rodapé */
  #Footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #Footer > div:first-child {
    display: flex;
  }

  #Footer > div {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #Footer-Logo {
    width: 30%;
    margin-right: 5%;
  }

  #Footer div.d-flex {
    flex-direction: row;
    justify-content: space-around;
  }

  /* home */
  .BorderBottom {
    top: 4rem;
  }

  /* Olimpmat */
  #descricao p {
    height: 16vh;
  }
}

/*# sourceMappingURL=style.css.map */
