{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Perfil{% endblock %}

{% block menu %}
    {% include 'components/menu.html' %}
{% endblock %}

{% block content %}

<section class="container">
    {% if visit_user.id == user.id %}
        <button type="button" class="btn btn-primary">
            <a href="{% url 'editar_perfil' %}">Editar Perfil</a>
        </button>
    {% endif %}
    <div>
        <h1>{{visit_user.first_name}}</h1>
    </div>
</section>

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}