{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../../static/css/style.css">

<section class="container" id="ResetPasswordDone">
    <div>
        <img src="../../../static/images/Feito.svg" alt="">
        <h1>Redefinição enviada!</h1>
        <p>Boa, agora é só checar o e-mail que foi enviado para você redefinir a sua senha e aproveitar os estudos.</p>
        <button class='outline-0 border-0'>
            <a href="{% url 'login' %}">Voltar ao login</a>
        </button>
    </div>
</section>

{% endblock %}