{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}

<section class="vh-100 vw-100 d-flex">
    <!-- content main -->
    <section class='container space'>
        <!-- back button -->
        <button class='outline-0 border-0 bg-none mb-auto mr-5 mt-3' onclick="reset_password_route()" id="button-back">
            <a href="{% url 'login' %}">
                <img src="../../../static/images/back-arrow.svg" alt="">
            </a>
        </button>

        <!-- content -->
        <section class='mb-0' id="form-container">

            <!-- title -->
            <div>
                <h1 class='text_color_primary'>Esqueceu sua senha?</h1>
                <h3 class='text-gray'>Relaxe, vamos dar um jeito nisso!</h3>
            </div>

            <!-- Form  -->
            <form action="{% url 'reset_password' %}" method="POST">
                {% csrf_token %}

                <div class="d-flex justify-content-center padding_0-7 rounded bg-white">
                    <img src="../../static/images/email.svg" alt="">

                    <div class="position-relative w-100 padding_0-7">
                        <input required type="text" id="email" class="input-text-color w-100" name="email">
                        <label class='input-text-color'>E-mail</label>
                    </div>
                </div>

                <div class="text-center d-flex justify-content-between">
                    <button type="submit" class="outline-0 border-0 input-text-color button_reset_password"
                        onclick="reset_password_route()">
                        Recuperar a senha
                    </button>
                </div>
            </form>

        </section>
    </section>

    <!-- Logo -->
    {% include 'components/logo.html' %}
</section>


{% endblock %}