{% load i18n %}
{% load static %}

<div id='Footer' class="bg-color-primary px-1">
    <div>
        <img src="{% static 'img/pp.png' %}" alt="Logo do Podemos">
        <p class="m-0 p-0">
            Copyright &copy 2021. By
            <a href="https://github.com/Podemoscorp">Podemos Educação</a>
            and
            <a href="https://github.com/Podemoscorp/crud/graphs/contributors">all contributors</a>
        </p>
    </div>
    <div class="text-center">
        Redes Sociais:
        <div>
            <a href="" >
                <img src="{% static 'images/youtube.svg' %}" alt="Icone do Youtube">
            </a>
            <a href="" class="mx-3">
                <img src="{% static 'images/instagram.svg' %}" alt="Icone do Instagram">
            </a>
            <a href="" >
                <img src="{% static 'images/Facebook.svg' %}" alt="Icone do Facebook">
            </a>
        </div>
    </div>
    <div class='d-flex flex-column'>
        <a href="">Ajuda</a>
        <a href="">Reportar problema</a>
    </div>
</div>