{% load i18n %}
{% load static %}
{% block logo %}
<section class="w-100 h-100 text-light" id="page-logo">
    <div>
        <img src='../../static/images/Logo.svg' />
    </div>

    <article>
        <h1 class='text-center font-weight-bold' id="text_podemos">
            Juntos nós<br />
            <span class="yellow">PODEMOS</span><br />
            mais <span class="yellow">!</span>
        </h1>
        <p class="text-center">Prepare-se para olimpíadas científicas e vestibulares brasileiros agora!</p>
    </article>

    <div class="footer">
        <img src="../../static/images/team.svg" alt="">
    </div>
</section>
{% endblock %}