{% load i18n %}
{% load static %}

<section class='d-flex' id="mySidenav">
    <section class='bg-color-primary py-3 pt-4 section-container'>
        <nav class='myTab'>
            <img src="{% static 'images/close.svg' %}" class="closebtn" onclick='closeNav()' />
            <ul class='p-0 position-relative'>
                <!-- Home -->
                {% if  request.path == "/" %}
                    <li>
                        <div>
                            <a href="{% url 'index' %}" class='px-3 w-100 d-flex justify-content-center active'>
                                <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/home-primary.svg' %}" alt="Home">
                                    Home
                                </div>
                            </a>
                        </div>
                        
                        <div class='position-absolute sub-menu sr-only'>
                            <h3>CONTEÚDOS</h3>
                            <ul class='p-0 d-flex flex-column'>
                                <a href="#inicio">Início</a>
                                <a href="#olimpiadas">Olimpíadas</a>
                                <a href="#artigos">Artigos</a>
                                <a href="#QuemSomos">Quem somos?</a>
                            </ul>
                        </div>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'index' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/home.svg' %}" alt="Home">
                                Home
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!--noticias-->

                {% if request.path == "/noticias/" %}
                <li>
                    <div>
                        <a href="{% url 'noticias' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/blog-primary.svg' %}" alt='Noticias'>
                                Noticias
                            </div>
                        </a>
                    </div>
                    <div class='position-absolute sub-menu sr-only'>
                        <h3>CONTEÚDOS</h3>
                        <ul class='p-0 d-flex flex-column'>
                            <a href="#ultimas">Ultimas</a>
                            <a href="#todas">Todas</a>
                        </ul>
                    </div>
                </li>
                {% else %} 
                    <li>
                        <a href="{% url 'noticias' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/blog.svg' %}" alt='Noticias'>
                                Noticias
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- Blog -->
                {% if request.path == "/blog/" %}
                <li>
                    <div>
                        <a href="{% url 'blog' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/blog-primary.svg' %}" alt='Blog'>
                                Blog
                            </div>
                        </a>
                    </div>
                    <div class='position-absolute sub-menu sr-only'>
                        <h3>CONTEÚDOS</h3>
                        <ul class='p-0 d-flex flex-column'>
                            <a href="#populares">Populares</a>
                            <a href="#todas">Todas</a>
                        </ul>
                    </div>
                </li>
                {% else %} 
                    <li>
                        <a href="{% url 'blog' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/blog.svg' %}" alt='Blog'>
                                Blog
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- ranking -->

                {% if  request.path == "/ranking/" %}
                    <li>
                        <div>
                            <a href="{% url 'ranking' %}" class='px-3 w-100 d-flex justify-content-center active'>
                                <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/Rank-primary.svg' %}" alt="Ranking">
                                    Ranking
                                </div>
                            </a>
                        </div>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'ranking' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/Rank.svg' %}" alt="Ranking">
                                Ranking
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- cursos -->

                {% if  request.path == '/cursos/' %}
                    <li>
                        <a href="{% url 'cursos' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/curse-primary.svg' %}" alt="Cursos">
                                Cursos
                            </div>
                        </a>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'cursos' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/curse.svg' %}" alt="Cursos">
                                Cursos
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- olimpiadas -->

                {% if  request.path == '/olimpiadas/' %}
                    <li>
                        <a href="{% url 'olimpiadas' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/medal-primary.svg' %}" alt="Olimpíadas">
                                Olimpíadas
                            </div>
                        </a>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'olimpiadas' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/medal.svg' %}" alt="Olimpíadas">
                                Olimpíadas
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!--olimpimat-->

                {% if  request.path == '/olimpimat/' %}
                    <li>
                        <a href="{% url 'olimpimat' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/' %}" alt="Olimpimat">
                                Olimpimat
                            </div>
                        </a>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'olimpimat' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/' %}" alt="Olimpimat">
                                Olimpimat
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- Calendário -->
                {% if  request.path == '/calendario/' %}
                    <li>
                        <a href="{% url 'calendario' %}" class='px-3 w-100 d-flex justify-content-center active'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/calendar-primary.svg' %}" alt="Calendário">
                                Calendário
                            </div>
                        </a>
                    </li>
                {% else %} 
                    <li>
                        <a href="{% url 'calendario' %}" class='px-3 w-100 d-flex justify-content-center'>
                            <div class='d-flex align-items-center flex-column'>
                                <img src="{% static '/images/calendar.svg' %}" alt="Calendário">
                                Calendário
                            </div>
                        </a>
                    </li>
                {% endif %}

                <!-- Dashboard -->
                {% if user.is_authenticated %}
                    {% if request.path == '/dashboard/' %}
                        <li>
                            <a href="{% url 'dashboard' %}" class='px-3 w-100 d-flex justify-content-center active'>
                                <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/dashboard-primary.svg' %}" alt="Dashboard">
                                    Dashboard
                                </div>
                            </a>
                        </li>
                    {% else %} 
                        <li>
                            <a href="{% url 'dashboard' %}" class='px-3 w-100 d-flex justify-content-center'>
                                <div class='d-flex align-items-center flex-column'>
                                    <img src="{% static '/images/dashboard.svg' %}" alt="Dashboard">
                                    Dashboard
                                </div>
                            </a>
                        </li>

                    {% endif %} 
                    {% if user.is_staff %}
                        <li>
                            <a href="/admin/" class='px-3 w-100 d-flex justify-content-center'>
                                <div class='d-flex align-items-center flex-column'>
                                    <!-- <img src="{% static '/images/Administração.svg' %}" alt="Administração"> -->
                                    Administração
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

        <button class='d-flex justify-content-center bg-none outline-0'>
            <img src="{% static '/images/config.svg' %}" alt="Home">
        </button>
    </section>
</section>
<span onclick="openNav()" class='openNav'>
    <img src="{% static 'images/NavIcon.svg' %}"></img>
</span>

{% block script %}
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "20rem"; 
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

{% endblock %}