{% load i18n %}
{% load static %}

<section class='d-flex' id="mySidenav">
    <section class='bg-color-primary py-3 pt-4 text-white section-container'>
        <nav class='myTab'>
            <button class="closebtn border-0 bg-none" onclick='closeNav()'>Fechar</button>
            <ul>
                <li class='px-3 bg-none outline-0 active home'>
                    <a href="{% url 'index' %}" class='d-flex align-items-center flex-column'>
                        <img src="{% static '/images/home.svg' %}" alt="Home" class='img-0'>
                        Home
                    </a>
                </li>

                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'blog' %}" class='d-flex align-items-center flex-column'>
                        <img src="{% static '/images/blog.svg' %}" alt="Blog" class='img-1'>
                        Blog
                    </a>
                </li>

                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'cursos' %}" class='d-flex align-items-center flex-column'>
                        <img src="{% static '/images/curse.svg' %}" alt="Cursos" class='img-2'>
                        Cursos
                    </a>
                </li>

                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'olimpiadas' %}" class='d-flex align-items-center flex-column'>
                        <img src="{% static '/images/medal.svg' %}" alt="Olimpíadas" class='img-3'>
                        Olimpíadas
                    </a>
                </li>

                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'calendario' %}" class='d-flex align-items-center flex-column'>
                        <img src="{% static '/images/calendar.svg' %}" alt="Calendário" class='img-4'>
                        Calendário
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>

                <li class='px-3 bg-none outline-0'>
                    <a href="{% url 'logout' %}">Sair</a>
                </li>
                {% if user.is_staff %}
                <li class='px-3 bg-none outline-0'>
                    <a href="/admin/">Administração</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </nav>

        <button class='d-flex justify-content-center bg-none outline-0'>
            <img src="{% static '/images/config.svg' %}" alt="Home">
        </button>
    </section>
</section>

<span onclick="openNav()">open</span>

{% block script %}

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "13.5rem";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

{% endblock %}