{% load i18n %}
{% load static %}

{% block Search %}
<section id="SearchContainer" class='d-flex justify-content-between align-items-center'>
    <div>
        <div>
            <img src="{% static 'images/Lupa.svg' %}" alt="Search">
            <input type="text">
            <img src="{% static 'images/close.svg' %}" alt="X">
        </div>
    </div>
                    
    <div class="sr-only search-button">
        {% if user.is_authenticated %}
            <button class='bg-color-primary'>
                <a href="{% url 'logout' %}" >
                    Doe
                </a>
            </button> 
            
            <button class='bg-color-secundary'>
                <a href="/user/login">
                    Login
                </a>
            </button>
        {% else %}
            <button class='bg-color-primary' onclick="NotLogged()">
                <a href="/user/login">
                    Doe
                </a>
            </button>
            
            <button class='bg-color-secundary'>
                <a href="/user/login">
                    Login
                </a>
            </button>
            
        {% endif %}
    </div>
</section>
{% endblock %}